.grid-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: 200px;
  grid-gap: 20px;
}

.item-appointment{
  background-color: #f2f2f2;
  box-shadow: 0 0 20px 8px #d0d0d0;
  border-radius: 20px;
}

.appointment-hour{
  background: antiquewhite;
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
   padding: 8px;
}