.sider-layout{
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0px;
  padding: 10px
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: 200px;
  grid-gap: 20px;
}

.title{
  color:white
}

.item-appointment{
  background-color: #f2f2f2;
  box-shadow: 0 0 20px 8px #d0d0d0;
  border-radius: 20px;
}
.layout-content{
  margin: 24px 16px 0;
  overflow: initial;
}

.btn{
  border-radius: 8px !important;
  margin-left: 20px !important;
}

.appointment-hour{
   background: antiquewhite;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 8px;
}
.container-create-appointment{
  display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}
.selected-date{
  color:#381704;
	  font-size:15px;
	  letter-spacing:0.1em;
}