.sider-layout{
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0px;
  padding: 10px
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: 125px;
  grid-gap: 20px;
}

.title{
  color:white
}